//// UU Color pallette
// Primary colors
$yellow:          #FFCD00;
$red:             #C00A35;
// Secondary colors
$cream:           #FFE6AB;
$orange:          #F3965E;
$bordeaux-red:    #AA1555;
$brown:           #6E3B23;
$teal:            #24A793; // UU calls this Green, but it looks teal
$blue:            #5287C6;
$dark-blue:       #001240;
$purple:          #5B2182;

// Bootstrap colors
$white:           #fff;
$gray-050:        #f8f9fa;
$gray-100:        #f8f9fa;
$gray-200:        #e9ecef;
$gray-300:        #dee2e6;
$gray-400:        #ced4da;
$gray-500:        #adb5bd;
$gray-600:        #6c757d;
$gray-700:        #495057;
$gray-800:        #343a40;
// In between, custom
$gray-850:        #262626;
$gray-900:        #212529;
$black:           #000;

$indigo:          #6610f2;
$pink:            #d63384;
$green:           #198754;
$cyan:            #0dcaf0;

$primary:         $yellow;
$secondary:       $black;
$success:         $green;
$info:            $cyan;
$warning:         $orange;
$danger:          $red;
$light:           $gray-100;
$dark:            $gray-850;

$colors: (
  "blue":         $blue,
  "dark-blue":    $dark-blue,
  "indigo":       $indigo,
  "purple":       $purple,
  "pink":         $pink,
  "red":          $red,
  "bordeaux-red": $bordeaux-red,
  "brown":        $brown,
  "cream":        $cream,
  "orange":       $orange,
  "yellow":       $yellow,
  "green":        $green,
  "teal":         $teal,
  "cyan":         $cyan,
  "white":        $white,
  "gray":         $gray-600,
  "gray-dark":    $gray-800
);

$theme-colors: (
  "primary":      $primary,
  "secondary":    $secondary,
  "success":      $success,
  "info":         $info,
  "warning":      $warning,
  "danger":       $danger,
  "light":        $light,
  "dark":         $dark
);

// All colors accessible
$theme-colors: map-merge($theme-colors, $colors);

$link-color: $blue;
$body-bg: #F6F6F6;
