@use "colors";

$modal-nav-tabs-color: inherit !default;
$modal-nav-tabs-bg: none !default;
$modal-nav-tabs-active-color: colors.$black !default;
$modal-nav-tabs-active-bg: colors.$white !default;
$modal-nav-tabs-hover-color: colors.$black !default;
$modal-nav-tabs-hover-bg: colors.$gray-100 !default;
