@use "colors";

// Prefix used for all UU layout classes (eg. .uu-)
$uu-prefix: 'uu-' !default;
// $prefix + $uu-prefix, by hand because it's annoying to add bs' _variables.scss
$uu-css-prefix: 'bs-uu-' !default;

// Width of the outer container
$uu-container-width: 1600px !default;
// Width of the actual content inside the container
$uu-content-width: 1200px !default;
// Default paddings. With spaced container this only applies to < md breakpoints
$uu-container-padding-x: 16px !default;
$uu-container-padding-y: 16px !default;
$uu-border-color: colors.$gray-400 !default;
$uu-border-color-light: colors.$gray-200 !default;
$uu-border-color-dark: colors.$gray-800 !default;
// Padding in header rows
$uu-header-padding-y: 0.7rem !default;
$uu-header-font-size: 0.9rem !default;
// Officially we should be using red, but we like _blue_
$uu-header-title-color: #094D8E !default;
// If using a border-{left, right}, this is the padding added between content and border
$uu-header-border-gap: 1.2rem !default;
// At what breakpoint the navbar should be switching to mobile mode
$uu-navbar-breakpoint: md !default;
$uu-navbar-navlink-padding-x: 12px !default;
$uu-navbar-navlink-padding-y: 12px !default;
$uu-footer-padding-y: 40px !default;
$uu-footer-color: colors.$gray-400 !default;
$uu-footer-background-color: colors.$gray-850 !default;
$uu-hero-bg: colors.$yellow !default;
$uu-hero-padding-y: 1rem !default;
$uu-hero-font-weight: 400 !default;
// Default height of cover images, can be overriden with classes
$uu-cover-default-height: 400px !default;
$uu-cover-copyright-padding-x: 10px !default;
$uu-cover-copyright-padding-y: 10px !default;
$uu-cover-copyright-text-size: 0.8rem !default;
$uu-cover-copyright-text-color: colors.$gray-300 !default;
$uu-cover-copyright-background-color: rgba(0,0,0, 0.5) !default;
// Gap between content and sidebar in desktop view
$uu-sidebar-width: 350px;
$uu-sidebar-gap: 100px !default;
$uu-sidebar-background: colors.$gray-200 !default;
// Below this breakpoint the sidebar will turn into a pulldown menu instead
// Intentionally 1 breakpoint higher than the rest because the sidebar takes a lot of horizontal space
$uu-sidebar-breakpoint: lg !default;
$uu-sidebar-padding-x: 20px !default;
$uu-sidebar-padding-y: 20px !default;
// Padding applied below the header if using an underlined header
$uu-sidebar-header-padding-y: 10px !default;
$uu-sidebar-header-font-weight: 200 !default;
$uu-sidebar-nav-padding-y: 7px !default;
$uu-sidebar-nav-padding-x: 0 !default;
$uu-sidebar-nav-disabled-color: colors.$gray-600 !default;
$uu-sidebar-nav-active-font-weight: 600 !default;


// Some calculations that are shared, don't override!
// Once we reach width == content-width we need to start spacing
$uu-content-start-spacing-breakpoint: $uu-content-width + $uu-container-padding-x;
// Calculation function for the needed padding to keep any content's actual width at $content-width
$uu-content-spacing-padding-x: calc(50% - var(--#{$uu-css-prefix}content-width) / 2);

// flex-basis = width + padding (calculated) + padding-x
$uu-sidebar-full-width: calc(var(--#{$uu-css-prefix}sidebar-width) + $uu-content-spacing-padding-x + var(--#{$uu-css-prefix}sidebar-padding-x));
// flex-basis = width + padding-x (both sides)
$uu-sidebar-intermediate-full-width: calc(var(--#{$uu-css-prefix}sidebar-width) + var(--#{$uu-css-prefix}sidebar-padding-x) * 2);
