@use "sass:map";
@use "../../configuration" as c;

.#{c.$uu-prefix}cover {

    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-height: var(--#{c.$uu-css-prefix}cover-default-height);

    @each $breakpoint in map-keys(c.$grid-breakpoints) {
        $infix: c.breakpoint-infix($breakpoint, c.$grid-breakpoints);
        @include c.media-breakpoint-down($breakpoint, c.$grid-breakpoints) {
            @each $height in [100, 200, 300, 400, 500] {
                &.h#{$infix}-#{$height} {
                    max-height: #{$height}px;
                }
            }
        }
    }

    .#{c.$uu-prefix}cover-image {
        display: block;
        height: 100%;
        width: 100%;
        @media (max-width: map.get(c.$grid-breakpoints, md)) {
            width: unset;
        }
    }

    .#{c.$uu-prefix}cover-copyright {
        position: absolute;
        bottom: 0;
        left: 0;

        padding:
            var(--#{c.$uu-css-prefix}cover-copyright-padding-y)
            var(--#{c.$uu-css-prefix}cover-copyright-padding-x);
        background-color: var(--#{c.$uu-css-prefix}cover-copyright-background-color);
        color: var(--#{c.$uu-css-prefix}cover-copyright-text-color);
        font-size: var(--#{c.$uu-css-prefix}cover-copyright-text-size);

        &.#{c.$uu-prefix}cover-copyright-right {
            right: 0;
            left: unset;
        }
    }

    // Extra styles so you can use a hero inside a cover.
    .#{c.$uu-prefix}cover-hero {
        @extend .#{c.$uu-prefix}hero;
        position: absolute;
        bottom: 0;
        width: calc(
            100% - #{c.$uu-sidebar-full-width}
        );

        @media (max-width: c.$uu-content-start-spacing-breakpoint) {
            width: calc(100% - #{c.$uu-sidebar-intermediate-full-width});
        }

        // Sidebar is on the left
        &:not(.#{c.$uu-prefix}cover-hero-left) {
            right: 0;
            padding-left: var(--#{c.$uu-css-prefix}sidebar-gap);
        }

        // Sidebar is on the right
        &.#{c.$uu-prefix}cover-hero-left {
            left: 0;
            padding-right: var(--#{c.$uu-css-prefix}sidebar-gap);
        }

        @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
            width: 100%;

            // We _could_ also use !important....
            &:not(.#{c.$uu-prefix}cover-hero-left), &.#{c.$uu-prefix}cover-hero-left {
                padding-left: var(--#{c.$uu-css-prefix}container-padding-x);
                padding-right: var(--#{c.$uu-css-prefix}container-padding-x);
            }
        }
    }
}
