@use "sass:map";
@use "../../configuration" as c;

.#{c.$uu-prefix}footer {
    @extend .-#{c.$uu-prefix}spaced-container;

    flex-wrap: wrap;
    background: var(--#{c.$uu-css-prefix}footer-background-color);
    color: var(--#{c.$uu-css-prefix}footer-color);
    align-items: center;
    padding-top: var(--#{c.$uu-css-prefix}footer-padding-y);
    padding-bottom: var(--#{c.$uu-css-prefix}footer-padding-y);

    @media (max-width: map.get(c.$grid-breakpoints, md)) {
        gap: 20px;
    }

    p:last-child {
        margin: 0;
        padding: 0;
    }

    a, a:hover, a:focus, a:active {
        color: var(--#{c.$uu-css-prefix}footer-color);
    }
}
