@use "sass:map";
@use "../../configuration" as c;

.#{c.$uu-prefix}header {

    width: 100%;
    flex: 1 1 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--#{c.$uu-css-prefix}header-font-size);

    .#{c.$uu-prefix}header-row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        padding-left: c.$uu-content-spacing-padding-x;
        padding-right: c.$uu-content-spacing-padding-x;

        @media (max-width: map.get(c.$grid-breakpoints, c.$uu-navbar-breakpoint)) {
            display: none;
        }

        // Give all direct children proper padding and alignment
        & > * {
            padding-top: var(--#{c.$uu-css-prefix}header-padding-y);
            padding-bottom: var(--#{c.$uu-css-prefix}header-padding-y);
            align-items: center;
            display: flex;
        }

        @media (max-width: c.$uu-content-start-spacing-breakpoint) {
            padding-left: var(--#{c.$uu-css-prefix}container-padding-x);
            padding-right: var(--#{c.$uu-css-prefix}container-padding-x);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--#{c.$uu-css-prefix}border-color-light);
        }

        @each $x in ['left', 'right'] {
            .border-#{$x} {
                padding-#{$x}: var(--#{c.$uu-css-prefix}header-border-gap);
                border-#{$x}: 1px solid var(--#{c.$uu-css-prefix}border-color-light);
            }
        }

        .#{c.$uu-prefix}header-title, .#{c.$uu-prefix}header-title a {
            color: var(--#{c.$uu-css-prefix}header-title-color);
            text-decoration: none;
            font-size: c.$h2-font-size;
        }

        .#{c.$uu-prefix}logo img {
            max-height: 3rem;
        }

        a, a:hover, a:focus, a:active {
            text-decoration: none;
        }
    }
}
