@use "sass:map";

.#{$uu-prefix}header {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--#{$uu-css-prefix}header-font-size);

    .#{$uu-prefix}header-row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        padding-left: $uu-content-spacing-padding-x;
        padding-right: $uu-content-spacing-padding-x;

        @media (max-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
            display: none;
        }

        // Give all direct children proper padding and alignment
        & > * {
            padding-top: var(--#{$uu-css-prefix}header-padding-y);
            padding-bottom: var(--#{$uu-css-prefix}header-padding-y);
            align-items: center;
            display: flex;
        }

        @media (max-width: $uu-content-start-spacing-breakpoint) {
            padding-left: var(--#{$uu-css-prefix}container-padding-x);
            padding-right: var(--#{$uu-css-prefix}container-padding-x);
        }

        &:not(:last-child) {
            border-bottom: .0625rem solid var(--#{$uu-css-prefix}border-color-light);
        }

        @each $x in ['left', 'right'] {
            .border-#{$x} {
                padding-#{$x}: var(--#{$uu-css-prefix}header-border-gap);
                border-#{$x}: .0625rem solid var(--#{$uu-css-prefix}border-color-light);
            }
        }

        .#{$uu-prefix}header-title, .#{$uu-prefix}header-title a {
            color: var(--#{$uu-css-prefix}header-title-color);
            text-decoration: none;
            font-size: $h2-font-size;
        }

        .#{$uu-prefix}logo img {
            max-height: 3rem;
        }

        a, a:hover, a:focus, a:active {
            text-decoration: none;
        }
    }
}
