@import "../../configuration";

.#{$uu-prefix}hero {
    @extend .-#{$uu-prefix}spaced-container;

    background: var(--#{$uu-css-prefix}background-color);
    color: color-contrast($uu-hero-background-color);
    padding-top: var(--#{$uu-css-prefix}hero-padding-y);
    padding-bottom: var(--#{$uu-css-prefix}hero-padding-y);
    font-weight: var(--#{$uu-css-prefix}hero-font-weight);

    @for $i from 1 through 7 {
        h#{$i} {
            font-weight: var(--#{$uu-css-prefix}hero-font-weight);
            margin: 0;
        }
    }

    p:last-child {
        margin: 0;
        padding: 0;
    }
}
