@use "../../configuration" as c;

.#{c.$uu-prefix}hero {
    @extend .-#{c.$uu-prefix}spaced-container;

    background: var(--#{c.$uu-css-prefix}background-color);
    color: c.color-contrast(c.$uu-hero-background-color);
    padding-top: var(--#{c.$uu-css-prefix}hero-padding-y);
    padding-bottom: var(--#{c.$uu-css-prefix}hero-padding-y);
    font-weight: var(--#{c.$uu-css-prefix}hero-font-weight);

    @for $i from 1 through 7 {
        h#{$i} {
            font-weight: var(--#{c.$uu-css-prefix}hero-font-weight);
            margin: 0;
        }
    }

    p:last-child {
        margin: 0;
        padding: 0;
    }
}
