@use "sass:map";

.#{$uu-prefix}navbar {
    width: 100%;
    background: $black;
    flex-wrap: nowrap;
    justify-content: flex-start;

    @media (max-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
        background: $white !important;
        color: $black !important;
        border-bottom: 1px solid var(--#{$uu-css-prefix}border-color);
        flex-wrap: wrap;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 9001;
        height: 50px;
    }

    .#{$uu-prefix}navbar-container {
        width: 100%;
        // We subtract the spacing of navlinks for better visual alignment with other spaced containers
        $-spaced-padding-x: calc(#{$uu-content-spacing-padding-x} - var(--#{$uu-css-prefix}navbar-navlink-padding-x));
        padding-left: $-spaced-padding-x;
        padding-right: $-spaced-padding-x;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: inherit;

        @media (max-width: $uu-content-start-spacing-breakpoint) {
            // We subtract the spacing of navlinks for better visual alignment with other spaced containers
            $-padding-x: calc(var(--#{$uu-css-prefix}container-padding-x) - var(--#{$uu-css-prefix}navbar-navlink-padding-x));
            padding-left: $-padding-x;
            padding-right: $-padding-x;
        }

        @media (max-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navbar-brand {
        padding-left: 0.75rem;

        @media (min-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
            display: none;
        }

        img {
            height: 1.5rem;
        }

    }

    @media (min-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
        .navbar-toggler {
            display: none;
        }
        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }
    }

    .navbar-nav {

        --#{$prefix}nav-link-color: #{$white};
        --#{$prefix}nav-link-disabled-color: #{$gray-500};
        --#{$prefix}nav-link-hover-color: #{$yellow};

        @media (min-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
            flex-direction: row;
        }

        .dropdown-menu {
            border-top: none;

            &[data-bs-popper] {
                // Spacing fix, thanks popper
                margin-top: 0;
            }

            @media (min-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
                position: absolute;
            }

            .dropdown-item.active, .dropdown-item:active {
                color: inherit;
                background: inherit;
                font-weight: bold;
            }
        }

        .nav-link {

            @media (min-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
                padding: var(--#{$uu-css-prefix}navbar-navlink-padding-y) var(--#{$uu-css-prefix}navbar-navlink-padding-x);
            }

            @media (max-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
                background: $black;
                padding-left: var(--#{$uu-css-prefix}container-padding-x);
                padding-right: var(--#{$uu-css-prefix}container-padding-x);
                border-top: 1px solid var(--#{$uu-css-prefix}border-color-dark);
            }

            &.dropdown-toggle.show::after {
                transform: rotate(180deg);
            }
        }

        .show > .nav-link,
        .nav-link.active {
            color: var(--#{$prefix}nav-link-hover-color);
        }
    }

    .navbar-toggler {
        color: $white;
        border-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: escape-svg($navbar-light-toggler-icon-bg);
    }

    .navbar-text {
        color: $white;

        a,
        a:hover,
        a:focus {
            color: $yellow;
        }

        @media (max-width: map.get($grid-breakpoints, $uu-navbar-breakpoint)) {
            color: $black;
        }
    }
}
