@use "sass:map";
@use "../../configuration" as c;

.#{c.$uu-prefix}sidebar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--#{c.$uu-css-prefix}sidebar-gap);

    @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
        flex-direction: column;
        gap: 0;
    }

    .#{c.$uu-prefix}sidebar {
        order: 1;
        background: var(--#{c.$uu-css-prefix}sidebar-background);
        flex: 0 0 c.$uu-sidebar-full-width;
        padding:
            var(--#{c.$uu-css-prefix}sidebar-padding-y)
            var(--#{c.$uu-css-prefix}sidebar-padding-x)
            var(--#{c.$uu-css-prefix}sidebar-padding-y)
            c.$uu-content-spacing-padding-x;

        @media (max-width: c.$uu-content-start-spacing-breakpoint) {
            padding-left: var(--#{c.$uu-css-prefix}sidebar-padding-x);
            // flex-basis = width + 2 * padding-x
            flex-basis: c.$uu-sidebar-intermediate-full-width;
        }

        @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
            flex-basis: auto;
            padding: var(--#{c.$uu-css-prefix}sidebar-padding-y) var(--#{c.$uu-css-prefix}sidebar-padding-x);
        }

        img, code, p, span, pre {
            display: inline-block;
        }

        div, img, code, p, span, pre {
            max-width: var(--#{c.$uu-css-prefix}sidebar-width);
            @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                max-width: 100%;
            }
        }

        .#{c.$uu-prefix}sidebar-toggle {
            font-size: c.$h5-font-size;
            margin: 0;
            border: none;
            text-align: left;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            background: transparent;

            &:hover {
                background: none;
            }

            &::after {
                border-bottom: 0;
                border-left: .3em solid transparent;
                border-right: .3em solid transparent;
                border-top: .3em solid;
                content: "";
                display: inline-block;
                transition: transform .3s linear;
            }

            &[aria-expanded="true"]::after {
                transform: rotate(180deg);
            }

            @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                display: none;
            }
        }

        .#{c.$uu-prefix}sidebar-collapse {

            @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                padding-top: var(--#{c.$uu-css-prefix}container-padding-y);
            }

            @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                display: block;
            }

            @for $i from 1 through 7 {
                h#{$i} {
                    border-bottom: 3px solid var(--#{c.$uu-css-prefix}border-color);
                    padding-bottom: var(--#{c.$uu-css-prefix}sidebar-header-padding-y);
                    margin-bottom: 0;
                    font-weight: var(--#{c.$uu-css-prefix}sidebar-header-font-weight);

                    @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                        &.#{c.$uu-prefix}sidebar-header-linked {
                            margin-right: calc(-1 * var(--#{c.$uu-css-prefix}sidebar-padding-x));
                        }
                    }
                }
            }

            .nav {
                flex-direction: column;

                .nav {
                    padding-left: 1.5rem;
                }

                .nav-link {
                    color: var(--#{c.$prefix}body-color);
                    border-bottom: 1px solid var(--#{c.$uu-css-prefix}border-color);
                    padding: var(--#{c.$uu-css-prefix}sidebar-nav-padding-y) var(--#{c.$uu-css-prefix}sidebar-nav-padding-y);

                    &.is-active {
                        font-weight: bold;
                    }

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }

                    &.disabled {
                        color: var(--#{c.$uu-css-prefix}sidebar-nav-disabled-color);
                        cursor: not-allowed;
                    }

                    &.active {
                        font-weight: var(--#{c.$uu-css-prefix}sidebar-nav-active-font-weight);
                    }
                }

            }
        }
    }

    .#{c.$uu-prefix}sidebar-content {
        order: 2;
        flex: 1 1 auto;
        // Allows the div to shrink below initial content width
        min-width: 0;
        padding:
            var(--#{c.$uu-css-prefix}sidebar-padding-y)
            var(--#{c.$uu-css-prefix}container-padding-x)
            var(--#{c.$uu-css-prefix}sidebar-padding-y);

        @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
            // When shrinking, this might be smaller than one thinks
            padding-right: max(
                #{c.$uu-content-spacing-padding-x},
                var(--#{c.$uu-css-prefix}container-padding-x)
            );
            padding-left: 0;
            padding-top: var(--#{c.$uu-css-prefix}sidebar-padding-y);
        }

        @for $i from 1 through 7 {
            h#{$i}.#{c.$uu-prefix}sidebar-header-linked {
                border-bottom: 1px solid var(--#{c.$uu-css-prefix}border-color);
                padding-bottom: calc(var(--#{c.$uu-css-prefix}sidebar-header-padding-y) + 1px);

                @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
                    padding-left: var(--#{c.$uu-css-prefix}sidebar-gap);
                    margin-left: calc(-1 * var(--#{c.$uu-css-prefix}sidebar-gap));
                }
            }
        }

    }

    @media (max-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
        &.#{c.$uu-prefix}sidebar-mobile-bottom {
            .#{c.$uu-prefix}sidebar {
                order: 2;
            }

            .#{c.$uu-prefix}sidebar-content {
                order: 1;
            }
        }
    }

    @media (min-width: map.get(c.$grid-breakpoints, c.$uu-sidebar-breakpoint)) {
        &.#{c.$uu-prefix}sidebar-right {
            .#{c.$uu-prefix}sidebar {
                order: 2;
                padding-left: var(--#{c.$uu-css-prefix}sidebar-padding-x);
                padding-right: c.$uu-content-spacing-padding-x;

                .#{c.$uu-prefix}sidebar-collapse {
                    @for $i from 1 through 7 {
                        h#{$i} {
                            &.#{c.$uu-prefix}sidebar-header-linked {
                                padding-left: var(--#{c.$uu-css-prefix}sidebar-padding-x);
                                margin-right: 0;
                                margin-left: calc(-1 * var(--#{c.$uu-css-prefix}sidebar-padding-x));
                            }
                        }
                    }
                }
            }

            .#{c.$uu-prefix}sidebar-content {
                order: 1;
                padding-right: 0;
                padding-left: c.$uu-content-spacing-padding-x;

                @for $i from 1 through 7 {
                    h#{$i}.#{c.$uu-prefix}sidebar-header-linked {
                        padding-left: 0;
                        padding-right: var(--#{c.$uu-css-prefix}sidebar-gap);
                        margin-left: 0;
                        margin-right: calc(-1 * var(--#{c.$uu-css-prefix}sidebar-gap));
                    }
                }

                @media (max-width: c.$uu-content-start-spacing-breakpoint) {
                    padding-left: var(--#{c.$uu-css-prefix}sidebar-padding-x);
                }
            }
        }
    }
}
