@import '../configuration';

.btn {
    font-weight: bold;
    &.btn-loading {
        position: relative;
        .btn-text {
            color: transparent;
        }

        &::after {
            border: 2px solid #000;
            border-radius: 999999px;
            border-top-color: transparent !important;
            content: "";
            display: block;
            height: 1em;
            width: 1em;
            position: absolute;
            left: calc(50% - (1em * .5));
            top: calc(50% - (1em * .5));
            animation: spinner-border .5s infinite linear;
        }

        @each $name, $pair in $theme-colors-with-inverts {
            $color: nth($pair, 2);

            @at-root &.btn-#{$name}::after {
                border-color: $color;
            }
        }
    }

}
