.modal-nav-tabs {
    --#{$prefix}modal-nav-tabs-color: #{$modal-nav-tabs-color};
    --#{$prefix}modal-nav-tabs-bg: #{$modal-nav-tabs-bg};
    --#{$prefix}modal-nav-tabs-active-color: #{$modal-nav-tabs-active-color};
    --#{$prefix}modal-nav-tabs-active-bg: #{$modal-nav-tabs-active-bg};
    --#{$prefix}modal-nav-tabs-hover-color: #{$modal-nav-tabs-hover-color};
    --#{$prefix}modal-nav-tabs-hover-bg: #{$modal-nav-tabs-hover-bg};

    margin-bottom: calc(0px  - var(--#{$prefix}modal-header-padding-y));
    border-bottom: 0;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    max-width: 100%;

    .nav-link {
        background-color: var(--#{$prefix}modal-nav-tabs-bg);
        color: var(--#{$prefix}modal-nav-tabs-color);
        white-space: nowrap;
    }

    .nav-link.active {
        color: var(--#{$prefix}modal-nav-tabs-active-color);
        background-color: var(--#{$prefix}modal-nav-tabs-active-bg);
        border-color: transparent;
    }

    .nav-link:not(.active):hover, .nav-link:not(.active):focus {
        color: var(--#{$prefix}modal-nav-tabs-hover-color);
        background-color: var(--#{$prefix}modal-nav-tabs-hover-bg);
        border-color: transparent;
    }
}
