@use "sass:math";
@use "../configuration" as c;


.stepper {
    --#{c.$prefix}stepper-disabled-color: #{c.$stepper-disabled-color};
    --#{c.$prefix}stepper-complete-bg: #{c.$stepper-complete-bg};
    --#{c.$prefix}stepper-complete-color: #{c.color-contrast(c.$stepper-complete-bg)};
    --#{c.$prefix}stepper-incomplete-bg: #{c.$stepper-incomplete-bg};
    --#{c.$prefix}stepper-incomplete-color: #{c.color-contrast(c.$stepper-incomplete-bg)};
    --#{c.$prefix}stepper-inactive-bg: #{c.$stepper-inactive-bg};
    --#{c.$prefix}stepper-inactive-color: #{c.color-contrast(c.$stepper-inactive-bg)};
    --#{c.$prefix}stepper-min-width: #{c.$stepper-min-width};
    --#{c.$prefix}stepper-padding-y: #{c.$stepper-padding-y};

    position: relative;
    z-index: 1;
    min-width: var(--#{c.$prefix}stepper-min-width);

    a {
        text-decoration: none;
    }

    > ul::before {
        content: '';
        display: block;
        position: absolute;
        left: calc(#{c.$stepper-bubble-max-size} / 2 - 1px);
        top: 1rem;
        height: calc(100% - 1rem);
        width: 2px;
        background: var(--#{c.$prefix}stepper-inactive-bg);
        z-index: -1;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
            line-height: 2rem;

            > .stepper-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                &.active {
                    font-weight: 600;
                }

                &.disabled {
                    color: var(--#{c.$prefix}stepper-disabled-color);
                    font-style: italic;
                }

                &.complete .stepper-bubble, .stepper-bubble.complete,
                &.finished .stepper-bubble, .stepper-bubble.finished {
                    background: var(--#{c.$prefix}stepper-complete-bg);
                    color: var(--#{c.$prefix}stepper-complete-color);
                }

                &.incomplete .stepper-bubble, .stepper-bubble.incomplete {
                    background: var(--#{c.$prefix}stepper-incomplete-bg);
                    color: var(--#{c.$prefix}stepper-incomplete-color);
                }

                .stepper-bubble {
                    background: var(--#{c.$prefix}stepper-inactive-bg);
                    flex: 0 0 auto;
                    color: var(--#{c.$prefix}stepper-inactive-color);
                    font-weight: bold;
                    line-height: c.$stepper-bubble-max-size;
                    font-size: 0.8rem;
                    display: inline-block;
                    border-radius: 100%;
                    text-align: center;

                    @each $size, $portion in c.$stepper-bubble-size-map {
                        &.stepper-bubble-#{$size} {
                            $actual-size: (c.$stepper-bubble-max-size - c.$stepper-bubble-min-size) * math.div($portion, c.$stepper-bubble-num-sizes) + c.$stepper-bubble-min-size;
                            $spacing: math.div(c.$stepper-bubble-max-size - $actual-size, 2);
                            $indent: math.div(c.$stepper-bubble-num-sizes - $portion, c.$stepper-bubble-num-sizes) * c.$stepper-max-indent;
                            width: $actual-size;
                            height: $actual-size;
                            margin-left: $spacing;
                            margin-right: $spacing + $indent;
                            line-height: $actual-size;
                        }
                    }
                }
            }

            &:not(:last-of-type) {
                padding-bottom: var(--#{c.$prefix}stepper-padding-y);
            }

            > ul {
                padding-top: var(--#{c.$prefix}stepper-padding-y);
            }
        }
    }
}
