@use "../configuration" as c;

.font-serif {
  font-family: "Merriweather", serif;
}

@for $i from 1 through 7 {
  h#{$i}.hdr-underlined {
    border-bottom: 1px solid c.$uu-border-color;
    padding-bottom: c.$uu-sidebar-header-padding-y;
  }
}
