@use "../configuration/bootstrap" as cb;
@use "../configuration/tiles" as ct;

$gap: 10px;

.tiles {
    --#{cb.$prefix}tiles-gap: #{ct.$tiles-gap};
    --#{cb.$prefix}tiles-padding: #{ct.$tiles-padding};
    --#{cb.$prefix}tiles-bg: #{ct.$tiles-bg};
    --#{cb.$prefix}tiles-color: #{ct.$tiles-color};
    --#{cb.$prefix}tiles-hover-bg: #{ct.$tiles-hover-bg};
    --#{cb.$prefix}tiles-hover-color: #{ct.$tiles-hover-color};

    @each $breakpoint, $n in ct.$tiles-n-breakpoints-map {
        --#{cb.$prefix}tiles-n-#{$breakpoint}: #{$n};
        @include cb.media-breakpoint-up($breakpoint) {
            --#{cb.$prefix}tiles-n: var(--#{cb.$prefix}tiles-n-#{$breakpoint});
        }
    }

    width: 100%;
    display: grid;
    gap: var(--#{cb.$prefix}tiles-gap);
    grid-template-columns: repeat(
            var(--#{cb.$prefix}tiles-n),
            1fr
    );

    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: var(--#{cb.$prefix}tiles-padding);
        aspect-ratio: 1 / 1 ;

        background: var(--#{cb.$prefix}tiles-bg);
        color: var(--#{cb.$prefix}tiles-color);

        &:hover {
            background: var(--#{cb.$prefix}tiles-hover-bg);
            color: var(--#{cb.$prefix}tiles-hover-color);
        }

        p:last-child {
            margin: 0;
        }
    }

    a.tile, .tile a {
        cursor: pointer;
        text-decoration: none;
    }

     @each $breakpoint in map-keys(cb.$grid-breakpoints) {
         $infix: cb.breakpoint-infix($breakpoint);
         @include cb.media-breakpoint-up($breakpoint) {
             @for $n from 1 through 12 {
                 &.tiles-n#{$infix}-#{$n} {
                     --#{cb.$prefix}tiles-n: #{$n} !important;
                 }
             }
         }
     }
}
