.tiles {
    // Dark mode vars at end of file!
    --#{$prefix}tiles-gap: #{$tiles-gap};
    --#{$prefix}tiles-padding: #{$tiles-padding};
    --#{$prefix}tiles-bg: #{$tiles-bg};
    --#{$prefix}tiles-color: #{$tiles-color};
    --#{$prefix}tiles-hover-bg: #{$tiles-hover-bg};
    --#{$prefix}tiles-hover-color: #{$tiles-hover-color};

    @each $breakpoint, $n in $tiles-n-breakpoints-map {
        --#{$prefix}tiles-n-#{$breakpoint}: #{$n};
        @include media-breakpoint-up($breakpoint) {
            --#{$prefix}tiles-n: var(--#{$prefix}tiles-n-#{$breakpoint});
        }
    }

    width: 100%;
    display: grid;
    gap: var(--#{$prefix}tiles-gap);
    grid-template-columns: repeat(
        var(--#{$prefix}tiles-n),
        1fr
    );

    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: var(--#{$prefix}tiles-padding);
        aspect-ratio: 1 / 1 ;

        background: var(--#{$prefix}tiles-bg);
        color: var(--#{$prefix}tiles-color);

        &:hover {
            background: var(--#{$prefix}tiles-hover-bg);
            color: var(--#{$prefix}tiles-hover-color);
        }

        p:last-child {
            margin: 0;
        }
    }

    a.tile, .tile a {
        cursor: pointer;
        text-decoration: none;
    }

     @each $breakpoint in map-keys($grid-breakpoints) {
         $infix: breakpoint-infix($breakpoint);
         @include media-breakpoint-up($breakpoint) {
             @for $n from 1 through 12 {
                 &.tiles-n#{$infix}-#{$n} {
                     --#{$prefix}tiles-n: #{$n} !important;
                 }
             }
         }
     }
}
@if $enable-dark-mode {
    @include color-mode(dark) {
        .tiles {
            --#{$prefix}tiles-bg: #{$tiles-bg-dark};
            --#{$prefix}tiles-color: #{$tiles-color-dark};
            --#{$prefix}tiles-hover-bg: #{$tiles-hover-bg-dark};
            --#{$prefix}tiles-hover-color: #{$tiles-hover-color-dark};
        }
    }
}
